/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-card {
    width: 30%;
    position: relative;
}

.btn-edit {
    position: absolute;
    bottom: 8px;
}

.btn-remove {
    position: absolute;
    bottom: 8px;
    right: 15px;
}

.my-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 50%;
    border: 2px solid black;
}